<h1>Dynamic Select</h1>

<%= form_with do |form| %>
    <div style="margin:20px 0px;">
        <label><strong>Model</strong></label>
        <%= select_tag :model_name, options_for_select([ "Please Select a Model", "Announcement", "Event" ]) %>
    </div>
    <div style="margin:20px 0px;">
        <label><strong>Record</strong></label>
        <%= select_tag :record, options_for_select([ ""]) %>
    </div>
    <%= submit_tag "Submit" %>
  <% end %>
